-var marked = require('marked')

if loading
  span Loading...
else if error
  div #{error}
else if data == null || data.length === 0
  div Нет данных
else
  div(class='uk-child-width-expand@s uk-text-center' uk-grid)
    each item in data
      div
        .uk-card.uk-card-default
          a(href='card/'+ item.id).uk-card-media-top
            img(src=item.img alt='')
          a(href='card/'+ item.id).uk-card-body
            h3.uk-card-title #{item.title}
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.