doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  title catalog demo
  // https://getuikit.com/
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.2/dist/js/uikit-icons.min.js"></script>
body
  .uk-container.uk-container-center.uk-margin-top.uk-margin-large-bottom
    nav.uk-navbar.uk-margin-large-bottom
      ul.uk-navbar-nav.uk-hidden-small

        li
          a(href='/') Home
                  
        li
          a(href='/about') About
      
    block content

